@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


html {
  scroll-behavior: smooth;
}


/* // Circle on Home  */

.custom-radius{
  border-radius: 200%;

}

.clip-ellipse {
  clip-path: ellipse(50% 15% at 50% 15%);
}


/* ---------Featured----- */

.custom-bg-color-featured{
  background-color: #52606d;
}


/* for excelecnec card  */

.custom-text-color-excellence{
  color: #bdbdbd;
}

.custom-p-color-featured{ color:#d9dcdf}

/* // Everything we do type --  */

.custom-hover-translate:hover{
  transform: translateX(20px);
  transition: 0.3s;
}

/* yes we cover tech stack  */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

@keyframes marqueeRight {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100%);
  }
}

.animate-marqueeRight {
  transform: translateX(-100%);
  animation: marqueeRight 60s linear infinite;
}


/* // rotating in excellence card  */

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 12s linear infinite;
}


.coloring {
  font-size:17px;
  fill: rgba(95, 95, 95, 0.71);
  font-weight: 300;
}

.font-size-rotate1{
  letter-spacing: 10px;
}
.font-size-rotate2{
  letter-spacing: 10px;
}
.font-size-rotate3{
  letter-spacing: 15px;
}

/* *{
  border: 1px solid black;
} */





@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')